<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="Components/head :: head">
	<title> Table of logs </title>
</head>

<body class="bg-dark text-white">
	
    <div th:insert="/Components/header :: myheader"></div>
    <div th:if="${app !='all'}" th:insert="/Sides/Logs/navbar :: navbar"></div>
    <div th:if="${app =='all'}" th:insert="/Sides/Logs/navbar_all_filter :: navbar_all_filter"></div>

	<div class="table-responsive  mt-3 p-4" style="background-color: rgba(0, 0, 0, 0.6);">
	<!-- kleine Tabelle, gestreifte Zeilen zur besseren Lesbarkeit mittig zentrierter Text (X-Achse) -->
	<table id="dataTable" data-page-length='10' data-order='[[0, "desc"]]'
	class="table table-sm table-striped table-hover table-bordered align-middle justify-end"  th:fragment="tabelleninhalt">	
		<thead class="sticky-top bg-dark text-white shadow">		
			<tr class="">
				<th>Uhrzeit</th>
				<th>Log-Status</th>
				<th>Klasse des Eintrags</th>
				<th>Auslöser</th>
				<th>Log-Message</th>
				<th>Application</th>
			</tr>
			
		</thead>
		<tbody class="">					 
	        <tr th:each="log : ${logs}">
	            <td><span th:text="${log.dateTime}"></span></td>
	            <td><span th:text="${log.statusError}"></span></td>
	            <td><span th:text="${log.problemClass}"></span></td>
	            <td><span th:text="${log.activationProcess}"> </span></td>
				<td><span th:text="${log.message}"></span></td>
				<td><span th:text="${log.application}"></span></td>
           </tr>
	    </tbody>
		</table>	
</div>
    </div>

</body>

</html>