<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="Components/head :: head">
	<title> home </title>
</head>

<body>
<!--
<div th:insert="/Components/header :: myheader"></div>
--->

	<img src="dagobert.png" class="m-3 rounded mx-auto d-block" width="200" height="150">
	<div class="d-grid gap-2 m-5 align-items-center">
	<button class="me-1 p-3 rounded btn btn-secondary btn-lg text-uppercase fw-bolder"
	th:onclick="|window.location.href='@{/logs/logs_all_by_status?errorStatus=ERROR}'|"
	type="button">Sparkauf
	</button>
	<button class="me-1 ps-3 pe-3 rounded btn btn btn-secondary btn-lg text-uppercase fw-bolder text-light"
	th:classappend="${#httpServletRequest.getRequestURI().startsWith('/logs/logs_all_by_status') ? 'active':''}"
	th:onclick="|window.location.href='@{/logs/logs_all_by_status?errorStatus=ERROR}'|"
	type="button">Einsparungen
	</button>
	<button class="me-1 ps-2 pe-2 rounded btn btn-secondary btn-lg text-uppercase fw-bolder text-light"
	th:classappend="${#httpServletRequest.getRequestURI().startsWith('/logs/logs_all_by_status') ? 'active':''}"
	th:onclick="|window.location.href='@{/logs/logs_all_by_status?errorStatus=ERROR}'|"
	type="button">Alle
	</button>
	</div>

</body>
</html>