<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="Components/head :: head">
    <title> Spar Buchungen </title>
</head>

<body >
<div  class="d-block p-2 bg-secondary bg-gradient text-white">
    <div th:replace="Sides/Spar/Components/banner :: banner"></div>
</div>

<div class="m-2">

    <div><label class="fw-bolder">id</label><input id="id"  autocomplete="off" readonly type="number" th:field="${newEntry.id}"/></div>
    <div><label class="fw-bolder">Artikel</label><input id="product" readonly required type="text" th:field="${newEntry.produkt}"/></div>


</div>
</body>
</html>