<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="Components/head :: head">
	<title> Spar Buchungen </title>
</head>

<body >
	<div  class="d-block p-2 bg-secondary bg-gradient text-white">
		<div th:replace="Sides/Spar/Components/header :: header"></div>
	</div>

	<div class="m-2">


		<div th:if="${view == 'newEntry' || view == 'editEntry'}" class="me-2" th:insert="Sides/Spar/Components/formular :: formular"></div>




			<div class="mt-2" th:insert="Sides/Spar/Components/table_xl :: table_all"></div>




	</div>
</body>
</html>